# Node
node_modules/
npm-debug.log
backend/.env
backend/src/booksAI.pkl
backend/src/similarity.pkl

# React
frontend/build/
frontend/node_modules/
frontend/.env

# OS/system
.DS_Store
Thumbs.db

# Others
coverage/
.vercel
